doctype html
html
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="canonical" href="https://minggas.website">
    <link rel="manifest" href="/manifest.json">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <meta name="description" content="I'm a Front End Developer from Brazil. Here you can find informations about me and my projects.">
    <title>Minggas Webpage | Front End Developer</title>
    <meta property="og:title" content="Minggas Webpage | Front End Developer">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://minggas.com">
    <meta property="og:description" content="I'm a Front End Developer from Brazil. Here you can find informations about me and my projects.">
    <meta property="og:image" content="https://minggas.com/avatar.jpg">
    <meta property="og:image:width" content="590">
    <meta property="og:image:height" content="440">
    <meta property="og:site_name" content="Minggas Webpage">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:description" content="I'm a Front End Developer from Brazil. Here you can find informations about me and my projects.">
    <meta name="twitter:title" content="Minggas Webpage | Front End Developer">
    <meta name="twitter:site" content="@minggasweb">
    <meta name="twitter:creator" content="@minggasweb">
    <link rel="stylesheet" href="/reset.css" type="text/css">
    <link rel="stylesheet" href="/messages.css" type="text/css">
    
  </head>  
  body
    section(class="tagline" style="height:100vh;")
      h2 Messages
      ul(class="message_wrap")
        each message in docs
          - const text = message.message.split('\n');
          li
            h3= message.name
            span(class="email")= message.email
            each line in text
              p=line
    
