@font-face {
  font-family: 'Alegreya Sans SC';
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/alegreyasanssc/v8/mtGh4-RGJqfMvt7P8FUr0Q1j-Hf1Bkll9w5DPYo.woff2) format("woff2")
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none
}

html {
  font-family: 'Alegreya Sans SC', sans-serif
}

body {
  background-color: #1f2833;
  overflow-x: hidden
}

li {
  list-style: none
}

a {
  text-decoration: none;
  font-weight: bolder;
  font-size: 110%;
  color: inherit
}

h2 {
  color: #64fcf2;
  font-size: calc(20px + 1.5vw);
  letter-spacing: 3px
}

.skills,
.contact {
  padding: 2%
}

textarea {
  resize: none
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
  padding: 2%;
  background: #000;
  color: #ccc;
  margin-top: 30px
}

.nav-bar {
  padding: 1rem 3%;
  width: 100%;
  height: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #ccc;
  position: fixed;
  top: 0;
  z-index: 2;
  transition: all .5s ease-out
}

.nav-bar.show {
  background-color: #1f2833
}

.nav-bar .nav-logo {
  flex: 1
}

.nav-bar .collapse-menu .nav-link span:hover {
  color: #64fcf2
}

.nav-bar .collapse-menu .nav-link span.active {
  color: #333;
  background: #64fcf2;
  cursor: default
}

header {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 5%
}

header.bg-img {
  background: linear-gradient(rgba(102, 102, 102, 0.9), rgba(102, 102, 102, 0.9)), url(../assets/background.jpg);
  background-attachment: fixed;
  background-size: cover
}

header .main-text-header {
  color: #ccc;
  font-size: calc(2.5rem + 15vw);
  padding: 5rem 0 .2rem;
  z-index: 1
}

header .main-text-header span {
  color: #64fcf2
}

.tagline {
  width: 100%;
  height: 16rem;
  background-color: #293442;
  padding-top: 6.5rem;
  font-variant: small-caps;
  font-size: calc(0.8rem + 1.2vw);
  text-align: center;
  color: #ccc
}

.tagline h2 {
  letter-spacing: .4rem
}

.about {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas: "card1 card2 card3 card4""portrait portrait text text";
  grid-gap: 1rem;
  padding: 1rem 1.5rem;
  color: #ccc
}

.about .skill-card {
  grid-column: span 1;
  display: flex;
  align-items: center
}

.about .skill-card .img-card {
  background-color: #748caa;
  border-radius: 50%;
  min-width: 6rem;
  height: 100px;
  text-align: center;
  padding: 1rem;
  font-size: calc(2.1rem + 2.2vw)
}

.about .skill-card .text-card {
  font-size: 1.3rem;
  letter-spacing: 1.2px;
  text-align: center;
  font-weight: 400;
  margin-top: 5px;
  text-transform: uppercase
}

.about .skill-card .text-card dd {
  line-height: 1rem;
  font-size: .8rem;
  margin: .7rem
}

.about .bio-image {
  grid-area: portrait;
  display: block;
  width: 80%;
  max-width: 280px;
  height: auto;
  margin: 1.5rem auto;
  border-radius: 50%;
  border: #64fcf2 3px solid
}

.card1 {
  grid-area: card1
}

.card2 {
  grid-area: card2
}

.card3 {
  grid-area: card3
}

.card4 {
  grid-area: card4
}

.banner-text {
  grid-area: text;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center
}

.banner-text .banner-title {
  line-height: 3rem;
  color: #64fcf2;
  font-size: calc(2rem + 1vw)
}

.banner-text span {
  font-size: calc(0.8rem + 0.8vw);
  line-height: 2rem;
  letter-spacing: .2rem;
  margin-top: 10px
}

.portfolio {
  width: 100vw;
  height: calc(100vh - 4rem);
  min-height: 400px;
  display: flex;
  overflow: hidden
}

.portfolio .project-tile {
  padding: 1rem;
  flex: 1;
  transition: all .5s ease-out;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  cursor: pointer
}

.portfolio .project-tile>* {
  flex: 1;
  text-align: center;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all .5s ease-out
}

.portfolio .project-tile .img-port {
  display: none;
  width: 50%;
  background-color: #64fcf2;
  margin-bottom: 1rem;
  border: 3px solid #64fcf2;
  border-radius: 5px;
  box-shadow: 0 0 14px 1px rgba(0, 0, 0, .68)
}

.portfolio .project-tile .img-port img {
  width: 100%;
  height: 100%;
  border: 1px solid rgba(224, 231, 235, .2)
}

.portfolio .project-tile .img-port img:hover {
  opacity: .4
}

.portfolio .project-tile .img-port.show {
  display: block
}

.portfolio .project-tile .btn,
.portfolio .project-tile .btn-dark,
.portfolio .project-tile .btn-light {
  flex: .2;
  display: block;
  padding: .2rem 1rem;
  width: 40%;
  height: 1.5rem;
  border: 0;
  margin-bottom: .3rem;
  border-radius: 1rem;
  transition: all .5s ease-out
}

.portfolio .project-tile .btn:hover,
.portfolio .project-tile .btn-dark:hover,
.portfolio .project-tile .btn-light:hover {
  background: #64fcf2;
  color: #333
}

.portfolio .project-tile .btn-dark {
  transform: translate3d(100vw, 0, 0);
  background: #000;
  color: #ccc
}

.portfolio .project-tile .btn-light {
  transform: translate3d(-100vw, 0, 0);
  background: #465a72;
  color: #ccc
}

.portfolio .project-tile span:last-child {
  transform: translate3d(0, 50vh, 0)
}

.portfolio .project-tile span:first-child {
  transform: translate3d(0, -50vh, 0)
}

.portfolio .project-tile.open {
  flex: 20
}

.portfolio .project-tile.open .img-port {
  transition: all .5s ease-out;
  display: block;
  transform: perspective(500px) translate3d(0, 0, -500px)
}

.portfolio .project-tile.active {
  cursor: default
}

.portfolio .project-tile.active span:last-child,
.portfolio .project-tile.active span:first-child {
  transform: translate3d(0, 0, 0)
}

.portfolio .project-tile.active .img-port {
  display: block;
  transform: perspective(500px) translate3d(0, 0, 0)
}

.portfolio .project-tile.active .btn,
.portfolio .project-tile.active .btn-dark,
.portfolio .project-tile.active .btn-light {
  transform: translate3d(0, 0, 0)
}

.project-tile h2 {
  font-size: calc(1rem + 1.5vw)
}

.project-tile.port1 {
  background: #2f3c4c
}

.project-tile.port1 h2,
.project-tile.port1 span {
  color: #ccc
}

.project-tile.port2 {
  background: #e0e0e1
}

.project-tile.port2 h2,
.project-tile.port2 span {
  color: #333
}

.project-tile.port3 {
  background: #c1c2c3
}

.project-tile.port3 h2,
.project-tile.port3 span {
  color: #333
}

.project-tile.port4 {
  background: #1b232c
}

.project-tile.port4 h2,
.project-tile.port4 span {
  color: #ccc
}

.skills ul {
  display: grid;
  grid-gap: .5rem;
  margin: 1rem 0;
  padding: 1rem 5vw
}

.skills ul li {
  width: 100%;
  height: 100px;
  display: flex;
  padding: 5px;
  position: relative
}

.skills ul li img {
  display: block;
  margin: auto;
  width: 100%;
  height: auto;
  transform: scale(.8);
  filter: grayscale(100%);
  transition: all .5s ease-out
}

.skills ul li img:hover {
  transform: scale(1);
  filter: grayscale(0%)
}

.skills ul li .info {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  min-width: 100px;
  top: -95%;
  right: -2rem;
  padding: .8rem 1rem;
  border-radius: 5px;
  background-color: #64fcf2;
  color: #333;
  transition: all .5s ease-out
}

.skills ul li .info:after {
  content: '';
  position: absolute;
  top: 93%;
  right: 50%;
  width: 10px;
  height: 10px;
  transform: rotate3d(0, 0, 1, 45deg);
  background-color: inherit
}

.skills ul li:hover .info {
  visibility: visible;
  opacity: 1
}

.contact li,
.contact ul {
  display: flex;
  height: 100%;
  margin: .8rem
}

.contact li {
  flex: 1;
  justify-content: center;
  align-items: center
}

.contact a {
  width: 3rem;
  height: 3rem
}

.contact a .contact-link {
  transition: all .5s ease-out;
  filter: invert(95%)
}

.contact a:hover .contact-link {
  filter: invert(.5) sepia(1) saturate(5) hue-rotate(175deg)
}

.contact-form {
  display: flex;
  flex-direction: column;
  margin: 1rem 2.5rem;
  padding: 1rem;
  color: #ccc
}

.contact-form input[type="submit"] {
  transition: all .5s ease-out;
  width: 9rem;
  font-size: 1rem;
  text-align: center;
  align-self: center;
  padding: 1rem 2rem;
  background-color: #223449;
  border: 1px solid #1f2833;
  color: #ccc
}

.contact-form input[type="submit"]:hover {
  background-color: #64fcf2;
  border: 1px solid #000
}

.contact-form .form-input {
  transition: all .5s ease-out;
  margin: .4rem;
  padding: .5rem;
  border: 1px solid rgba(0, 0, 0, .2);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .16), 0 0 0 1px rgba(0, 0, 0, .08)
}

.contact-form .form-input:focus {
  border: 2px solid #64fcf2;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .36), 0 0 0 1px rgba(0, 0, 0, .18)
}

.contact-form,
.contact-form>* {
  border-radius: 5px
}
