.nav-bar .collapse-menu {
  flex: 3;
  display: flex;
  justify-content: space-around;
  padding: 0;
  flex-direction: row;
  background: transparent
}

.nav-bar .collapse-menu .nav-link span {
  transition: all 0.5s ease-out;
  margin: 0 15px;
  font-size: calc(0.8rem + 0.4vw);
  padding: 2px 5px;
  border-radius: 5px;
  letter-spacing: 4px;
  color: #ccc;
  font-weight: 700
}

.about .skill-card {
  flex-direction: column;
  margin-top: -50px;
  padding: 0 5% 10%;
}
.skills ul {
  grid-template-columns: repeat(7, minmax(0, 1fr));
}